body{
	background-color:#EBEBEB;
        font-family: arial;
}
a{
    text-decoration: none;
}
#topo{
	width:100%;
	margin-top:-5px;
	background-color:#333;
}
#topo img{
    background: white;
}
#barra{
	height:40px;
}
#menu_horizontal{
    height: 25px;
    background-color:#666;
}
#menu_horizontal a{
    color: white;
    border-left: 1px solid black;
    padding-right: 10px;
    padding-left: 10px;
}
#menu_horizontal a:hover{
    background: white;
    color: black;
}
#busca{
	height:40px;
	background-color:#999;
}

#menu_lateral{
	width:180px;
	margin-top:0px;
	float:left;
}
#menu_lateral ul {
	width:100%;
	list-style:none;
}
#menu_lateral ul li{
	height:30px;
	margin-left:-40px;
	background-color:#CCC;
	border:1px solid #333;
	border-radius:2px;
}
#menu_lateral ul li a{
	text-decoration:none;
	font:12px Arial, Helvetica, sans-serif;
	color:#003;
}


#conteudo{
	width:75%;
	float:left;
	background-color:#FFF;
	margin-left:65px;
	margin-top:15px;
} 
#conteudo label{
    display: block;
    float: left;
    width: 130px;
}
#conteudo ul{
	list-style:none;
	float:left;
	margin-left:-40px;
	margin-top:-5px;
}
#conteudo ul li{
	width:150px;
	height:150px;
	background-color:#CCC;
	border:1px solid #999;
	border-radius:4px;
	float:left;
	margin-left:20px;
	margin-top:20px;
}
#conteudo ul li a{
	text-decoration:none;
}
#conteudo ul li img{
	 width:50px;
	 height:50px;
	 margin-top:40px;
	 margin-left:40px;
}
#conteudo ul li span{
	margin-top:10px;
}
#conteudo #erro{
    background: red;
    color: white;
    text-transform: uppercase;
    padding: 5px;
    text-align: center;
    font-weight: bolder;
}
.btexcluir{
    background: red;
    color: white;
    padding: 2px;
    text-decoration: none;
    font-weight: bolder;
    border-radius: 50px;
    margin: 5px;
}
.botao{
    background: #CCC;
    color: black;
    border: 1px solid black;
}
#rodape{
    width: auto;
    height: 76px;
    clear: both;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    background-color: #666;
}

#rodape img{
    border: none;
    width: 70px;
    height: auto;
}
