/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10/09/2013, 11:00:12
    Author     : ebiro_2
*/
#quadroMini{
    float: left;
}

#quadroMini span{
    font-weight: bolder;
    float: left;
}

#quadroMini form p{
    margin-top: 10%;
}